---
import Resources from "../components/Resources.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Honai Coders - ITS">
  <main class="bg-white dark:bg-gray-900">
    <Resources />
  </main>
</Layout>
