---
import News from "../components/News.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Berita - Honai Coders - ITS">
  <main class="flex flex-col gap-y-6 py-10 lg:py-16 bg-white dark:bg-gray-900">
    <News/>
  </main>
</Layout>
