---
import Resources from "../components/Resources.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sumber Belajar - Honai Coders - ITS">
  <main class="flex flex-col gap-y-6 py-10 lg:py-16 bg-white dark:bg-gray-900">
    <Resources/>
  </main>
</Layout>
