<!-- Card Blog -->
<div id="resources" class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div
    class="mb-10 flex flex-col items-start lg:flex-row lg:items-center lg:justify-between"
  >
    <div>
      <h2
        class="text-2xl font-bold dark:text-white md:text-4xl md:leading-tight"
      >
        Sumber Belajar
      </h2>
      <p class="mt-1 max-w-2xl text-gray-600 dark:text-gray-400">
        Temukan sumber belajar Lorem ipsum dolor sit amet consectetur.
      </p>
    </div>
    <a
      class="mt-6 inline-flex items-center gap-x-2 rounded-full border bg-white px-4 py-3 text-sm font-medium text-blue-600 transition hover:border-gray-300 hover:text-blue-700 hover:shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white dark:border-gray-700 dark:bg-slate-900 dark:text-blue-500 dark:hover:border-gray-600 dark:hover:text-blue-400 dark:hover:shadow-slate-700/[.7] dark:focus:ring-gray-700 dark:focus:ring-offset-gray-800 lg:mt-12"
      href="#"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5"
        viewBox="0 0 24 24"
        ><g fill="none" stroke="currentColor" stroke-width="1.5"
          ><path
            d="M3 10c0-3.771 0-5.657 1.172-6.828C5.343 2 7.229 2 11 2h2c3.771 0 5.657 0 6.828 1.172C21 4.343 21 6.229 21 10v4c0 3.771 0 5.657-1.172 6.828C18.657 22 16.771 22 13 22h-2c-3.771 0-5.657 0-6.828-1.172C3 19.657 3 17.771 3 14v-4Z"
            opacity=".5"></path><path stroke-linecap="round" d="M8 10h8m-8 4h5"
          ></path></g
        ></svg
      >
      Sumber lainnya
      <svg
        class="h-2.5 w-2.5"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
      >
        <path
          d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"></path>
      </svg>
    </a>
  </div>
  <!-- End Title -->

  <!-- Grid -->
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-10 lg:mb-14">
    <!-- Card -->
    <a
      class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800"
      href="#"
    >
      <div class="aspect-w-16 aspect-h-9">
        <img
          class="w-full h-[12rem] object-cover rounded-t-xl"
          src="https://images.unsplash.com/photo-1668869713519-9bcbb0da7171?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=988&q=80"
          alt="Image Description"
        />
      </div>
      <div class="p-4 md:p-5">
        <p class="mt-2 text-xs uppercase text-gray-600 dark:text-gray-400">
          Product
        </p>
        <h3
          class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600 dark:text-gray-300 dark:group-hover:text-white"
        >
          Better is when everything works together
        </h3>
      </div>
    </a>
    <!-- End Card -->

    <!-- Card -->
    <a
      class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800"
      href="#"
    >
      <div class="aspect-w-16 aspect-h-9">
        <img
          class="w-full h-[12rem] object-cover rounded-t-xl"
          src="https://images.unsplash.com/photo-1668584054035-f5ba7d426401?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3465&q=80"
          alt="Image Description"
        />
      </div>
      <div class="p-4 md:p-5">
        <p class="mt-2 text-xs uppercase text-gray-600 dark:text-gray-400">
          Business
        </p>
        <h3
          class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600 dark:text-gray-300 dark:group-hover:text-white"
        >
          What CFR really is about
        </h3>
      </div>
    </a>
    <!-- End Card -->

    <!-- Card -->
    <a
      class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800"
      href="#"
    >
      <div class="aspect-w-16 aspect-h-9">
        <img
          class="w-full h-[12rem] object-cover rounded-t-xl"
          src="https://images.unsplash.com/photo-1668863699009-1e3b4118675d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3387&q=80"
          alt="Image Description"
        />
      </div>
      <div class="p-4 md:p-5">
        <p class="mt-2 text-xs uppercase text-gray-600 dark:text-gray-400">
          Business
        </p>
        <h3
          class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600 dark:text-gray-300 dark:group-hover:text-white"
        >
          Should Product Owners think like entrepreneurs?
        </h3>
      </div>
    </a>
    <!-- End Card -->

    <!-- Card -->
    <a
      class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800"
      href="#"
    >
      <div class="aspect-w-16 aspect-h-9">
        <img
          class="w-full h-[12rem] object-cover rounded-t-xl"
          src="https://images.unsplash.com/photo-1668584054131-d5721c515211?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80"
          alt="Image Description"
        />
      </div>
      <div class="p-4 md:p-5">
        <p class="mt-2 text-xs uppercase text-gray-600 dark:text-gray-400">
          Facilitate
        </p>
        <h3
          class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600 dark:text-gray-300 dark:group-hover:text-white"
        >
          Announcing Front Strategies: Ready-to-use rules
        </h3>
      </div>
    </a>
    <!-- End Card -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Card Blog -->
